<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS-Reorganized</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
    <div class="main">
        <div class="sidebar">
            <div class="yaali ">
                <img src="../static/assets/yaali_animal.png" alt="yaali_animal">
                <a href="https://drive.google.com/file/d/15T68XeTxSJ68qm0D75wSEj09H7Rdt_tQ/view">About Yaali</a>
                <h2>KOL Identification Tool</h2>
            </div>
        </div>

        <div style="display:none">
            <input id="csrf" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>

        <div class="main-content">
            <div class="sticky-nav">
                <img src="../static/assets/final.png" alt="roche-logo">
            </div>

            <div class="data-container">
                <div class="container mt-5">
                    <h1 class="text-center mb-4">HCPCS Codes Selection</h1>
                    <form id="hcpcs-form" action="/cms-d" method="get">


                        <!-- Dropdown Container -->
                        <div id="dropdown-container" class="dropdown-container">
                            <!-- Dropdowns will be dynamically added here -->
                        </div>

                        <!-- Add New Dropdown Button -->
                        <button type="button" id="add-dropdown" class="btn btn-secondary mt-2">Add Another Drug</button>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
                </div>

            </div>
        </div>

    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/static/js/app.js" defer></script>
</body>

</html>